<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="de.androidbytes.recipr.presentation"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>

	<application
		android:name=".ReciprApplication"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:supportsRtl="true"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		tools:ignore="UnusedAttribute"
		>

		<activity
			android:name=".splash.view.activity.SplashActivity"
			android:theme="@style/AppTheme.Transparent"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".login.view.activity.LoginActivity"
			android:theme="@style/AppTheme.Fullscreen"
			/>

		<activity
			android:name=".overview.core.view.activity.OverviewActivity"
			android:label="@string/title_activity_welcome"
			android:theme="@style/AppTheme"
			android:windowSoftInputMode="adjustResize"
			/>

		<activity
			android:name=".single.detail.view.activity.RecipeDetailsActivity"
			android:theme="@style/AppTheme"
			android:parentActivityName=".overview.core.view.activity.OverviewActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".overview.core.view.activity.OverviewActivity"
				/>
		</activity>

		<activity
			android:name=".overview.category.view.activity.CategoryActivity"
			android:theme="@style/AppTheme"
			android:parentActivityName=".overview.core.view.activity.OverviewActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".overview.core.view.activity.OverviewActivity"
				/>
		</activity>

		<activity
			android:name=".overview.search.view.activity.SearchResultActivity"
			android:theme="@style/AppTheme"
			android:parentActivityName=".overview.core.view.activity.OverviewActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".overview.core.view.activity.OverviewActivity"
				/>
		</activity>

		<activity
			android:name=".single.add.view.activity.AddRecipeActivity"
			android:theme="@style/AppTheme"
			android:parentActivityName=".overview.core.view.activity.OverviewActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".overview.core.view.activity.OverviewActivity"
				/>
		</activity>

		<provider
			android:exported="false"
			android:authorities="de.androidbytes.recipr.app.data.provider"
			android:name="de.androidbytes.recipr.data.provider.ReciprProvider"
			/>

		<receiver android:name=".widget.RecipeWidgetProvider" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
					   android:resource="@xml/recipe_widget_info" />
		</receiver>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"
			/>

	</application>

</manifest>
